
<div class="text-center">
    <h1 class="display-4">Турагенство</h1>
    <br />
    <br />
    <div class="text-center">
        <p>1. Клієнт може створювати необмежену кількість заявок </p>
        <p>2. На сайті можна переглянути повний список заявок </p>
        <p>3. Оператор може самостійно обирати заяку із списку та опрацьовувати її</p>
        <p>4. Реєстрація та авторизація користувачів (клієнтів, операторів, адміністраторів сайту) </p>
        <p>5. Доступна історія обслуговування заявок за номером телефона клієнта (потрібно розкоментувати медот в TravelController  (͡° ͜ʖ ͡°)  )</p>
    </div>
</div>

    